
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/vue/axios.js"></script>
</head>
<body>
    <div>
        <table id="divstudents">
            <thead >
                <tr>
                    <td>ID</td>
                    <td>商品名称</td>
                    <td>市场价格</td>
                    <td>会员价格</td>
                    <td>销量</td>
                    <td>剩余库存量</td>
                    <td>品牌Id</td>
                    <td>店铺Id</td>
                    <td>所提供服务</td>
                    <td>图片</td>
                    <td>商品详情</td>
                    <td>店铺类型</td>
                    <td>创建时间</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in InboxList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.marketPrice}}</td>
                    <td>{{item.proPay}}</td>
                    <td>{{item.sales}}</td>
                    <td>{{item.sku}}</td>
                    <td>{{item.originId}}</td>
                    <td>{{item.shopId}}</td>
                    <td>{{item.saas}}</td>
                    <td>{{item.image}}</td>
                    <td>{{item.details}}</td>
                    <td>{{item.storeType}}</td>
                    <td>{{item.createTime}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    var vm = new  Vue({
        el: "#divstudents",
        data: {
            InboxList:[]
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function () {
                //axios.get("/test/GetStudentList", { params: { pageindex: page, pagesize: this.pageSize, name: this.searchname} }).then((response) => {
                axios.get("http://localhost:53782/api/Master").then((response) => {
                    console.log(response)
                    this.InboxList = [];
                    for (var i = 0; i < response.data.length; i++) {
                        this.InboxList.push(response.data[i]);
                    }
                    console.log(this.InboxList)
                });
            }
        }
    });
</script>
